doctype html

include mixins

block page_parameters

html(lang='en')
  + head(page_title, page_url)

  body.pt
    + navbar(page_brand_url, page_subtitle)
    
    main.container.pt-main(role='main')
      block page_content
      
    + footer(page_analytics_id)
