@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,500i,600,600i,700,700i|Roboto:300,400,500,700&display=swap');

.pt .navbar,
.pt .pt-footer {
    background-color: #000;
    opacity: 0.9;
}

.pt .pt-brand,
.pt .pt-brand span {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    color: #fff;
}

.pt .pt-brand {
    font-weight: 500;
}

.pt .pt-brand span {
    font-weight: 400;
    opacity: 0.5;
}

.pt .pt-main {
    min-height: 50em;
    padding: 6rem 15px 2rem 15px;
}

.pt .pt-blog-header {
    border-bottom: 3px solid #007bff;
    margin-bottom: 2rem;
}

.pt .pt-main .pt-article {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #666;
}

.pt .pt-main .pt-article .pt-meta {
    color: #666;
}

.pt .pt-main .pt-article p,
.pt .pt-main .pt-article .pt-article-content {
    font-size: 1.25rem;
    font-weight: 300;
}

.pt .pt-main .pt-article .pt-article-content {
    margin-bottom: 1rem;
}

.pt .pt-main .pt-article a.pt-read {
    font-size: 1.25rem;
    font-weight: 300;
    color: #007bff;
}

.pt .pt-main .pt-article a.pt-read:hover {
    color: #0353a4;
    text-decoration: none;
}

.pt .pt-main .pt-paging a {
    color: #666;
}

.pt .pt-main .pt-paging a:hover {
    color: #333;
    text-decoration: none;
}

.pt .pt-main .pt-paging .pt-pages {
    text-align: center;
}

.pt .pt-main .pt-paging .pt-next {
    text-align: right;
}

.pt .pt-main h1,
.pt .pt-main h2,
.pt .pt-main h3,
.pt .pt-main h4,
.pt .pt-main h5,
.pt .pt-main h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

.pt .pt-main .pt-lead {
    font-size: 1.25rem;
    font-weight: 500;
}

.pt .pt-main .pt-about {
    text-align: center;
}

.pt .pt-main .pt-about .pt-profile-image {
    width: 60%;
    border-radius: 100%;
    margin: auto;
    display: block;
}

.pt .pt-main .pt-about .pt-details {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.8rem;
}

.pt .pt-main .pt-about .pt-details p {
    margin: 0;
}

.pt .pt-main .pt-about .pt-details p.pt-author {
    margin-bottom: .5em;
}
.pt .pt-main .pt-about .pt-details p.pt-origin,
.pt .pt-main .pt-about .pt-details p.pt-web a,
.pt .pt-main .pt-about ul.pt-social li a {
    color: #666;
}

.pt .pt-main .pt-about .pt-details p.pt-web a:hover,
.pt .pt-main .pt-about ul.pt-social li a:hover {
    color: #333;
    text-decoration: none;
}

.pt .pt-main .pt-about ul.pt-social {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 1.2rem;
}

.pt .pt-main .pt-about ul.pt-social li {
    display: inline;
}

.pt .pt-main .pt-about ul.pt-social li a {
    padding: 5px;
}

.pt .pt-footer {
    padding: 2em;
}

.pt .pt-footer ul {
    margin: 0;
    padding: 0;
}

.pt .pt-footer ul li {
    list-style-type: none;
}

.pt .pt-footer ul a,
.pt .pt-footer p a {
    color: #6c757d;
}

.pt .pt-footer ul a:hover,
.pt .pt-footer p a:hover {
    color: #eee;
    text-decoration: none;
}

.pt .pt-home-header {
    background-color: #007bff;
    color: #fff;
    padding: 6rem 0 3rem;
    margin-bottom: 3rem;
}

.pt .pt-home-header h1 {
    margin-bottom: 2rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

.pt .pt-home-header p,
.pt .pt-home-header ul,
.pt .pt-home-header ul li {
    font-size: 1.5rem;
    font-weight: 300;
}

.pt .pt-home-header p b,
.pt .pt-home-header ul b,
.pt .pt-home-header ul li b {
    font-weight: 600;
}

.pt .pt-home-header p span.pt-home-url {
    background-color: #0353a4;
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.pt .pt-home-content {
    font-size: 1.25rem;
    padding-bottom: 3rem;
}

.pt .pt-home-separator {
    border-bottom: 2px solid #007bff;
    margin-bottom: 3rem;
}

.pt .pt-home-content h2 {
    margin-bottom: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

.pt .pt-home-about {
    background-color: #ddd;
    padding-top: 3rem;
}