- var page_brand_url= '/'
- var page_title = 'pushed.to | Blogging for developers'
- var page_url = 'https://pushed.to'

doctype html

include mixins.pug

block page_parameters

html(lang='en')
  + head(page_title, page_url)

  body.pt
    + navbar('/')

    div.pt-home-header.container-fluid
      div.container
        div.grid
          div.row
            div.col-sm-1
            div.col-sm-10.pt-home-tldr.text-center
              h1 pushed.to

              p
                | A free &amp; open, code centric blogging platform.
                br
                b Write 
                | posts with Markdown. 
                b Push 
                | your blog to a GitHub repository. 
                b View 
                | and share your wisdom via 
                span.pt-home-url pushed.to/&lt;username&gt;/&lt;repo&gt;
            div.col-sm-1
          
    div.container.pt-home-content.pt-home-separator
      div.grid
        div.row
          div.col-md-4
            h2 Simple
            p 
              | Create and author your blog with the tools you love: Your favorite text editor and git.
          div.col-md-4
            h2 Open &amp; Free
            p
              | Free of avdertising. No need to register at pushed.to, neither for publishing nor reading.
          div.col-md-4
            h2 Open Source
            p
              | The platform is open-source, you can contribute to it, you may operate your own instance. 
              a(href="https://github.com/pushedto/pushed.to") View on GitHub
              |.

    div.container.pt-home-content
      div.grid
        div.row
          div.col-md-8
            h2(id="get-started") Get Started
          div.col-md-2
          div.col-md-8
            p With #[a(href="/") pushed.to] you can author and manage your blog's content with Markdown in a Git repository which is hosted on #[a(href="https://github.com") GitHub]. If the repository contains a valid #[code .blog] file it can be rendered using #[code pushed.to/&lt;username&gt;/&lt;repo&gt;].  
            p A #[code .blog] file should contain the following content
            script(a src="https://gist.github.com/cokeSchlumpf/c33c90e9fc4ac8573bec2ff8ff411f4b.js")
            p Then you can place Markdown files in the repository. You can use any folder structure. Pushed.to will always order the posts based on their creation date when listing them. You only should stick to a simple structure in your Markdowns:
            script(a src="https://gist.github.com/cokeSchlumpf/4a100799a860e650917ac1d6557b006a.js")
            p The easiest way to start your own blog is to #[a(href="https://github.com/pushedto/blog.template" target="_blank") fork the blog template].
          div.col-md-4.text-center
            p
              a.btn.btn-primary.btn-lg(href="https://github.com/pushedto/blog.template/fork" target="_blank") Fork the blog template

            p
              a.btn.btn-outline-secondary.btn-lg(href="/cokeSchlumpf/rethink-it" target="_blank") Show sample blog

    div.pt-home-about.container-fluid
      div.container.pt-home-content
        div.grid
          div.row
            div.col-md-8
              h2(id="about") About 
            div.col-md-2
          div.row
            div.col-md-8
              p #[a(href="/") pushed.to] is an open source project and you are welcome to contribute on #[a(href="https://github.com/pushedto/pushed.to") GitHub]. We are aiming to deliver the service without storing user data or displaying ads. Thus all hosting costs are covered by donations.
              p To open requests for improvements, ideas or any other feedback, please open a #[a(href='https://github.com/pushedto/pushed.to/issues/new') issue on GitHub].
            div.col-md-2.text-center
              form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='5VYGHBP7HNDPS')
                input(type='image', src='https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif', name='submit', title='PayPal - The safer, easier way to pay online!', alt='Donate with PayPal button', border='0')
                img(alt='', src='https://www.paypal.com/en_DE/i/scr/pixel.gif', width='1', height='1', border='0')


    + footer